In [47]:
import numpy as np
import pandas as pd
import math

In [48]:
titanic_train=pd.read_csv('C:\\Users\\hemanth kumar\\Desktop\\kaggle project\\titanic\\train.csv')
titanic_test=pd.read_csv('C:\\Users\\hemanth kumar\\Desktop\\kaggle project\\titanic\\test.csv')

In [49]:
titanic_train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [50]:
titanic_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Name         418 non-null    object
 3   Sex          418 non-null    object
 4   Age          332 non-null    float64
 5   SibSp        418 non-null    int64
 6   Parch        418 non-null    int64
 7   Ticket       418 non-null    object
 8   Fare         417 non-null    float64
 9   Cabin        91 non-null     object
 10  Embarked     418 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.0+ KB

In [51]:
x=titanic_train.copy()
y=titanic_train['Survived']
y.columns=[0]
x_t=titanic_test.copy()
x_t.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Name         418 non-null    object
 3   Sex          418 non-null    object
 4   Age          332 non-null    float64
 5   SibSp        418 non-null    int64
 6   Parch        418 non-null    int64
 7   Ticket       418 non-null    object
 8   Fare         417 non-null    float64
 9   Cabin        91 non-null     object
 10  Embarked     418 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.0+ KB

In [52]:
y=pd.DataFrame(y)

# trail 1
## considering only these features

In [53]:
x=x.drop(['PassengerId','Survived','Name','Ticket','Cabin'],axis=1)
x_t=x_t.drop(['PassengerId','Name','Ticket','Cabin'],axis=1)
x_t.head()

   Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0       3    male  34.5      0      0   7.8292        Q
1       3  female  47.0      1      0   7.0000        S
2       2    male  62.0      0      0   9.6875        Q
3       3    male  27.0      0      0   8.6625        S
4       3  female  22.0      1      1  12.2875        S

In [54]:
x_t.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Pclass    418 non-null    int64
 1   Sex       418 non-null    object
 2   Age       332 non-null    float64
 3   SibSp     418 non-null    int64
 4   Parch     418 non-null    int64
 5   Fare      417 non-null    float64
 6   Embarked  418 non-null    object
dtypes: float64(2), int64(3), object(2)
memory usage: 23.0+ KB

In [55]:
ones=np.ones((891,1))
ones=pd.DataFrame(data=ones,columns=['ones'])
x=pd.merge(ones,x,left_index=True,right_index=True) #creating bias column of ones.

In [56]:
ones_t=np.ones((418,1))
ones_t=pd.DataFrame(data=ones_t,columns=['ones_t'])
x_t=pd.merge(ones_t,x_t,left_index=True,right_index=True) #creating bias column of ones.

In [57]:
x['Sex']=x['Sex'].replace(['male','female'],[1,0])
x['Embarked']=x['Embarked'].replace(['C','Q','S'],[1,2,3])
x['Embarked']=x['Embarked'].replace(np.NaN,2)
mean_age=round(np.mean(x['Age']))
x['Age']=x['Age'].replace(np.NaN,mean_age)
m=len(x)

x_t['Sex']=x_t['Sex'].replace(['male','female'],[1,0])
x_t['Embarked']=x_t['Embarked'].replace(['C','Q','S'],[1,2,3])
x_t['Embarked']=x_t['Embarked'].replace(np.NaN,2)
mean_age=round(np.mean(x_t['Age']))
x_t['Age']=x_t['Age'].replace(np.NaN,mean_age)
m_t=len(x_t)

In [58]:
a=pd.DataFrame(data=x_t.loc[:,('Pclass','Fare')])
b=a.groupby('Pclass').mean()
b

             Fare
Pclass
1       94.280297
2       22.202104
3       12.459678

In [59]:
lib1={}
l=[]
l1=list(b.index)
l2=list(b.Fare)
for i in range(len(b)):
    l.append((l1[i],l2[i]))
lib1.update(l)
lib1

{1: 94.28029719626169, 2: 22.20210430107527, 3: 12.459677880184334}

c=pd.DataFrame(data=x_t.loc[:,('Pclass','Fare')])
c=c.set_index('Pclass')
for i in range(1,4):
    c.loc[i,'Fare']=c.loc[i,'Fare'].replace(np.NaN,lib1.get(i))
d=list(c['Fare'])
d=pd.Series(d)
x_t=x_t.drop(['Fare'],axis=1)
x_t['fare']=d
x_t.isnull().values.any()

In [60]:
x_t['Fare']=x_t['Fare'].replace(np.NaN,lib1.get(3))

In [61]:
x_t.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   ones_t    418 non-null    float64
 1   Pclass    418 non-null    int64
 2   Sex       418 non-null    int64
 3   Age       418 non-null    float64
 4   SibSp     418 non-null    int64
 5   Parch     418 non-null    int64
 6   Fare      418 non-null    float64
 7   Embarked  418 non-null    int64
dtypes: float64(3), int64(5)
memory usage: 26.2 KB

In [62]:
x_t.head()

   ones_t  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0     1.0       3    1  34.5      0      0   7.8292         2
1     1.0       3    0  47.0      1      0   7.0000         3
2     1.0       2    1  62.0      0      0   9.6875         2
3     1.0       3    1  27.0      0      0   8.6625         3
4     1.0       3    0  22.0      1      1  12.2875         3

In [63]:
#lib1={c['Pclass']:c['Fare']

In [64]:
#x_t.isnull().values.any()
x_t.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   ones_t    418 non-null    float64
 1   Pclass    418 non-null    int64
 2   Sex       418 non-null    int64
 3   Age       418 non-null    float64
 4   SibSp     418 non-null    int64
 5   Parch     418 non-null    int64
 6   Fare      418 non-null    float64
 7   Embarked  418 non-null    int64
dtypes: float64(3), int64(5)
memory usage: 26.2 KB

In [65]:
x_t['Fare'].isnull().values.any()

False

In [25]:
pd.DataFrame.isnull?

## initializing random theta values

In [13]:
theta=np.random.randn(8)
theta=pd.DataFrame(theta,index=x.columns)
n=len(theta)
theta

                 0
ones      1.429005
Pclass    0.508515
Sex       0.613530
Age       0.310711
SibSp    -0.716715
Parch     0.280649
Fare     -0.771486
Embarked -0.440178

In [12]:
h_theta=np.dot(x,theta)
h_theta=pd.DataFrame(h_theta)
h_theta=round(1/(1+np.exp(-h_theta)))
h_theta.head()

     0
0  1.0
1  1.0
2  1.0
3  1.0
4  1.0

## applying BFGS

In [13]:
from scipy.optimize import minimize

In [14]:
def mul(a,b):
    return np.dot(a,b)

In [15]:
def j_theta(theta1):
    theta1=pd.DataFrame(theta1,index=x.columns)
    h_theta1=np.dot(x,theta1)
    h_theta1=pd.DataFrame(h_theta1)
    h_theta1=1/(1+np.exp(-h_theta1))
    m=len(x)
    b=(-1/m)*(mul(y.T,np.log(h_theta1))+mul((1-y).T,np.log(1-h_theta1)))
    return b

In [16]:
result=minimize(j_theta,theta,method='BFGS')

C:\Users\hemanth kumar\anaconda3\lib\site-packages\ipykernel_launcher.py:7: RuntimeWarning: divide by zero encountered in log
  import sys

In [17]:
print(result)

      fun: array([[nan]])
 hess_inv: array([[1, 0, 0, 0, 0, 0, 0, 0],
       [0, 1, 0, 0, 0, 0, 0, 0],
       [0, 0, 1, 0, 0, 0, 0, 0],
       [0, 0, 0, 1, 0, 0, 0, 0],
       [0, 0, 0, 0, 1, 0, 0, 0],
       [0, 0, 0, 0, 0, 1, 0, 0],
       [0, 0, 0, 0, 0, 0, 1, 0],
       [0, 0, 0, 0, 0, 0, 0, 1]])
      jac: array([nan, nan, nan, nan, nan, nan, nan, nan])
  message: 'NaN result encountered.'
     nfev: 10
      nit: 0
     njev: 1
   status: 3
  success: False
        x: array([ 1.80815697,  0.3415429 ,  0.12834403, -0.08606258, -0.91414877,
        0.74037533,  0.12903538, -0.29771981])

In [18]:
print(result.x)

[ 1.80815697  0.3415429   0.12834403 -0.08606258 -0.91414877  0.74037533
  0.12903538 -0.29771981]

In [19]:
opt_theta=pd.DataFrame(result.x,index=x.columns)

In [20]:
opt_theta

                 0
ones      1.808157
Pclass    0.341543
Sex       0.128344
Age      -0.086063
SibSp    -0.914149
Parch     0.740375
Fare      0.129035
Embarked -0.297720

In [21]:
j_theta(theta)

C:\Users\hemanth kumar\anaconda3\lib\site-packages\ipykernel_launcher.py:7: RuntimeWarning: divide by zero encountered in log
  import sys

array([[nan]])

In [22]:
j_theta(opt_theta)

C:\Users\hemanth kumar\anaconda3\lib\site-packages\ipykernel_launcher.py:7: RuntimeWarning: divide by zero encountered in log
  import sys

array([[nan]])

In [23]:
x.isnull().values.any()

False

In [24]:
x1=x[0:5]
y1=y[0:5]
h=np.dot(x1,opt_theta)
h=pd.DataFrame(h)
h=1/(1+np.exp(-h))
y1=np.array(y1)
h=np.array(h)
l=(np.dot(y1.T,(np.log(h)))+np.dot((1-y1).T,(np.log(1-h))))/5
l

array([[-0.38974399]])

In [25]:
j_theta(theta)

C:\Users\hemanth kumar\anaconda3\lib\site-packages\ipykernel_launcher.py:7: RuntimeWarning: divide by zero encountered in log
  import sys

array([[nan]])

## using gradient descent

In [26]:
def h_theta1(tet):
    a=np.dot(x,tet)
    a=1/(1+np.exp(-a))
    a=pd.DataFrame(a,columns=['Survived'])
    return a
def grad_descent(theta1,a):   # a for alpha
    for j in range(n):
        theta1.iloc[j]=theta1.iloc[j]-a*(np.dot((h_theta1(theta1)-y).T,x.iloc[:,j]))
    return theta1

In [37]:
g1=grad_descent(theta,0.2)

C:\Users\hemanth kumar\anaconda3\lib\site-packages\ipykernel_launcher.py:3: RuntimeWarning: overflow encountered in exp
  This is separate from the ipykernel package so we can avoid doing imports until

In [28]:
h_theta1(theta)-y

C:\Users\hemanth kumar\anaconda3\lib\site-packages\ipykernel_launcher.py:3: RuntimeWarning: overflow encountered in exp
  This is separate from the ipykernel package so we can avoid doing imports until

     Survived
0         0.0
1         0.0
2        -1.0
3         0.0
4         0.0
..        ...
886       0.0
887       0.0
888       1.0
889       0.0
890       0.0

[891 rows x 1 columns]

In [45]:
np.round(np.dot(x,g1))

array([[-2.72910e+04],
       [ 3.66900e+03],
       [-3.27840e+04],
       [-7.45000e+03],
       [-4.68490e+04],
       [-3.87880e+04],
       [-3.82910e+04],
       [ 1.60340e+04],
       [-3.15490e+04],
       [ 5.02700e+03],
       [ 9.26800e+03],
       [-6.67550e+04],
       [-2.34050e+04],
       [-3.27510e+04],
       [-1.40920e+04],
       [-7.11790e+04],
       [ 2.29650e+04],
       [-3.48600e+04],
       [-3.17690e+04],
       [-3.98800e+04],
       [-3.12110e+04],
       [-4.11120e+04],
       [-1.56140e+04],
       [-1.20840e+04],
       [ 6.76500e+03],
       [-3.09800e+04],
       [-3.99890e+04],
       [ 2.02404e+05],
       [-3.91900e+04],
       [-3.91700e+04],
       [-3.79260e+04],
       [ 8.25190e+04],
       [-3.93040e+04],
       [-9.33290e+04],
       [ 2.87900e+04],
       [-1.94690e+04],
       [-3.99850e+04],
       [-2.49680e+04],
       [-1.15060e+04],
       [-1.13860e+04],
       [-5.33530e+04],
       [-2.30630e+04],
       [-3.93970e+04],
       [ 3.23370e+04],
       [-2.19980e+04],
       [-3.90340e+04],
       [-3.26330e+04],
       [-3.93040e+04],
       [-2.73520e+04],
       [-1.16270e+04],
       [ 2.45780e+04],
       [-2.51890e+04],
       [-8.72100e+03],
       [-2.17790e+04],
       [-4.68040e+04],
       [-1.52100e+04],
       [-2.28900e+04],
       [-3.76410e+04],
       [ 1.72430e+04],
       [ 2.46170e+04],
       [-2.74820e+04],
       [ 1.15240e+04],
       [ 3.59800e+03],
       [ 1.89110e+04],
       [-2.22960e+04],
       [-3.29860e+04],
       [-3.53930e+04],
       [-2.17470e+04],
       [-1.89670e+04],
       [-3.23520e+04],
       [-4.01900e+04],
       [ 1.69110e+04],
       [ 3.25570e+04],
       [-2.74170e+04],
       [ 5.61000e+02],
       [-3.15730e+04],
       [-3.91700e+04],
       [-3.90340e+04],
       [ 2.48090e+04],
       [-3.50240e+04],
       [-2.56930e+04],
       [-3.61930e+04],
       [-3.92710e+04],
       [-1.85500e+03],
       [-1.66380e+04],
       [-3.69000e+04],
       [ 5.96000e+03],
       [-3.90340e+04],
       [ 1.96261e+05],
       [-2.96570e+04],
       [-3.74710e+04],
       [-2.35780e+04],
       [-1.76300e+04],
       [-2.18230e+04],
       [-8.50640e+04],
       [-3.90340e+04],
       [-8.02620e+04],
       [ 2.00550e+04],
       [-3.22000e+04],
       [-2.97020e+04],
       [-3.59360e+04],
       [-3.91700e+04],
       [ 3.56910e+04],
       [-4.31900e+04],
       [-5.01940e+04],
       [-3.60450e+04],
       [-2.52120e+04],
       [-3.92770e+04],
       [-5.16740e+04],
       [-2.48960e+04],
       [-2.72290e+04],
       [-9.33500e+03],
       [-2.65310e+04],
       [-2.17860e+04],
       [-1.31840e+04],
       [-2.50780e+04],
       [-1.02710e+05],
       [-2.62970e+04],
       [ 1.80891e+05],
       [ 2.50680e+04],
       [ 3.24480e+04],
       [-3.90340e+04],
       [-2.39950e+04],
       [-3.86590e+04],
       [-1.58850e+04],
       [-8.36900e+03],
       [-3.94120e+04],
       [-3.04580e+04],
       [-2.66050e+04],
       [-6.34260e+04],
       [-4.40860e+04],
       [-2.42870e+04],
       [-5.98620e+04],
       [-2.17790e+04],
       [-2.70450e+04],
       [-2.23420e+04],
       [-6.06700e+03],
       [-1.06840e+04],
       [-1.61250e+04],
       [ 3.24770e+04],
       [-3.28380e+04],
       [-2.66870e+04],
       [-2.27240e+04],
       [-2.31020e+04],
       [-1.74280e+04],
       [ 3.20600e+03],
       [-3.45700e+04],
       [ 1.69700e+04],
       [-3.35860e+04],
       [-5.36150e+04],
       [-6.81000e+04],
       [ 2.47730e+04],
       [-7.88890e+04],
       [-4.97880e+04],
       [-3.96850e+04],
       [-2.54520e+04],
       [-1.74380e+04],
       [-3.90340e+04],
       [-3.84940e+04],
       [ 1.47310e+04],
       [-5.38320e+04],
       [-4.79550e+04],
       [-3.30250e+04],
       [-1.81760e+04],
       [ 3.39550e+04],
       [ 4.75700e+03],
       [ 2.07900e+03],
       [-4.49810e+04],
       [-2.36530e+04],
       [ 6.81200e+03],
       [-6.54240e+04],
       [ 1.98390e+04],
       [ 9.04800e+03],
       [-2.50780e+04],
       [-6.03090e+04],
       [-2.05220e+04],
       [-2.38550e+04],
       [-5.25710e+04],
       [-3.48600e+04],
       [-5.55100e+04],
       [ 1.48400e+04],
       [-3.32790e+04],
       [ 1.41180e+04],
       [ 3.32680e+04],
       [ 1.40030e+04],
       [-2.42300e+03],
       [-3.25240e+04],
       [-4.65460e+04],
       [-4.82770e+04],
       [-4.85480e+04],
       [-3.78770e+04],
       [-1.76680e+04],
       [-2.19610e+04],
       [ 1.87320e+04],
       [-4.40680e+04],
       [ 3.88120e+04],
       [-3.94120e+04],
       [-5.74920e+04],
       [-3.93040e+04],
       [-2.53740e+04],
       [-3.46300e+04],
       [ 1.47310e+04],
       [-4.66570e+04],
       [-6.42140e+04],
       [-2.02790e+04],
       [ 6.94800e+03],
       [-3.53360e+04],
       [-2.35410e+04],
       [-1.74230e+04],
       [-3.50340e+04],
       [-3.05390e+04],
       [-3.55110e+04],
       [-2.72370e+04],
       [-3.48600e+04],
       [-3.94670e+04],
       [ 5.16390e+04],
       [-3.43470e+04],
       [-4.13240e+04],
       [ 1.75180e+04],
       [-3.70650e+04],
       [-1.71540e+04],
       [-3.01710e+04],
       [-7.18550e+04],
       [-3.91700e+04],
       [ 2.02920e+04],
       [-2.53850e+04],
       [-1.98730e+04],
       [-2.48920e+04],
       [-1.61050e+04],
       [-2.37460e+04],
       [ 1.93360e+04],
       [-3.77140e+04],
       [-7.97430e+04],
       [ 2.04780e+04],
       [-2.76870e+04],
       [-3.93670e+04],
       [-4.53320e+04],
       [ 1.12860e+04],
       [-1.98730e+04],
       [-4.01880e+04],
       [-3.35600e+04],
       [-3.25240e+04],
       [-3.55020e+04],
       [-2.73470e+04],
       [-3.99890e+04],
       [ 1.07470e+04],
       [-3.13540e+04],
       [-2.40820e+04],
       [-1.11810e+04],
       [-6.09610e+04],
       [-3.97400e+04],
       [-3.53050e+04],
       [-7.31150e+04],
       [-3.19900e+04],
       [-4.54230e+04],
       [-3.12750e+04],
       [ 2.32080e+04],
       [ 2.98720e+04],
       [ 3.97338e+05],
       [-5.45610e+04],
       [-3.94120e+04],
       [ 2.34950e+04],
       [-1.07310e+04],
       [-6.21440e+04],
       [-3.93040e+04],
       [-4.64420e+04],
       [ 1.05120e+04],
       [-3.15170e+04],
       [ 4.51450e+04],
       [ 6.53850e+04],
       [-1.91780e+04],
       [-3.83180e+04],
       [-4.62270e+04],
       [-3.15070e+04],
       [-3.93040e+04],
       [-2.92910e+04],
       [-6.26340e+04],
       [-4.63240e+04],
       [ 1.51500e+04],
       [-3.60520e+04],
       [-9.41140e+04],
       [-3.60810e+04],
       [-1.58750e+04],
       [-2.18420e+04],
       [-2.35870e+04],
       [-4.34100e+04],
       [-3.77560e+04],
       [-2.66670e+04],
       [-5.36150e+04],
       [-2.68000e+04],
       [ 2.93780e+04],
       [ 5.08210e+04],
       [-4.45750e+04],
       [-2.88430e+04],
       [-2.97930e+04],
       [-2.22960e+04],
       [-2.98260e+04],
       [ 1.30911e+05],
       [-1.96190e+04],
       [ 1.40364e+05],
       [-3.93040e+04],
       [-2.58530e+04],
       [-2.89410e+04],
       [-3.54380e+04],
       [-3.90340e+04],
       [ 1.32491e+05],
       [ 5.11470e+04],
       [ 6.96610e+04],
       [-2.54410e+04],
       [ 3.56900e+03],
       [ 3.60760e+04],
       [ 2.03352e+05],
       [-1.71060e+04],
       [-3.60450e+04],
       [-4.35630e+04],
       [-3.28470e+04],
       [-1.39650e+04],
       [-7.14880e+04],
       [ 9.73840e+04],
       [ 5.62740e+04],
       [-2.72370e+04],
       [-3.44820e+04],
       [-3.54380e+04],
       [-8.20900e+03],
       [ 1.47310e+04],
       [ 6.35950e+04],
       [-8.90830e+04],
       [-4.41290e+04],
       [-2.95580e+04],
       [ 2.63600e+04],
       [-2.57440e+04],
       [-4.56080e+04],
       [ 7.62940e+04],
       [-8.48800e+03],
       [ 7.13960e+04],
       [-3.91700e+04],
       [ 1.37240e+04],
       [ 5.47810e+04],
       [-6.24780e+04],
       [-3.86530e+04],
       [ 2.02950e+04],
       [ 1.94698e+05],
       [-3.17340e+04],
       [-2.70450e+04],
       [-4.42370e+04],
       [-2.53740e+04],
       [-5.03800e+04],
       [-3.18810e+04],
       [ 1.00170e+04],
       [-5.72490e+04],
       [-2.70580e+04],
       [-1.56510e+04],
       [-1.66110e+04],
       [-2.26770e+04],
       [-3.99890e+04],
       [-3.46300e+04],
       [ 1.45830e+04],
       [-4.72550e+04],
       [-3.91900e+04],
       [-3.91900e+04],
       [-3.72750e+04],
       [-2.05970e+04],
       [-5.69640e+04],
       [-4.77310e+04],
       [-3.26330e+04],
       [-3.97400e+04],
       [-2.72170e+04],
       [-3.98760e+04],
       [-3.93040e+04],
       [ 2.38550e+04],
       [ 9.90900e+03],
       [-2.17040e+04],
       [-2.18420e+04],
       [ 8.53670e+04],
       [ 1.45800e+04],
       [ 2.57730e+04],
       [-2.71280e+04],
       [ 1.44423e+05],
       [-2.71920e+04],
       [-2.20850e+04],
       [ 1.35250e+05],
       [ 1.29240e+04],
       [-4.22700e+04],
       [-8.42000e+03],
       [-3.91700e+04],
       [ 3.72450e+04],
       [ 4.02460e+04],
       [-4.41290e+04],
       [-3.94310e+04],
       [-1.55420e+04],
       [ 4.98420e+04],
       [-2.51920e+04],
       [-3.61280e+04],
       [ 6.41420e+04],
       [-2.19510e+04],
       [-2.67550e+04],
       [-4.06610e+04],
       [-4.84030e+04],
       [-2.61240e+04],
       [-3.19340e+04],
       [-5.32110e+04],
       [-3.27830e+04],
       [-2.33490e+04],
       [-2.90850e+04],
       [-2.27560e+04],
       [-3.41120e+04],
       [-7.21200e+04],
       [ 1.23390e+04],
       [-2.52110e+04],
       [-2.37460e+04],
       [-3.91700e+04],
       [-4.01990e+04],
       [ 2.81020e+04],
       [-4.63240e+04],
       [-6.10250e+04],
       [-3.89260e+04],
       [-2.38770e+04],
       [-1.60270e+04],
       [-3.48600e+04],
       [ 6.49900e+03],
       [-3.93970e+04],
       [-2.53610e+04],
       [-3.76260e+04],
       [-3.02700e+04],
       [-9.62400e+03],
       [-3.97400e+04],
       [-2.02160e+04],
       [-6.09600e+03],
       [-3.94120e+04],
       [-4.21600e+04],
       [-1.99760e+04],
       [-3.18810e+04],
       [-4.20970e+04],
       [-1.95320e+04],
       [-2.85330e+04],
       [ 8.43350e+04],
       [-1.78500e+03],
       [-2.04580e+04],
       [ 1.32151e+05],
       [-3.86280e+04],
       [-4.65810e+04],
       [-2.21270e+04],
       [-3.15170e+04],
       [-3.16260e+04],
       [-3.89790e+04],
       [ 6.62750e+04],
       [-2.46500e+03],
       [-2.93540e+04],
       [ 9.68000e+03],
       [-5.40030e+04],
       [-3.13160e+04],
       [-2.85800e+04],
       [-2.22710e+04],
       [ 2.08300e+03],
       [-3.90340e+04],
       [-3.78340e+04],
       [-7.78040e+04],
       [-7.27000e+02],
       [-6.82140e+04],
       [-3.94120e+04],
       [-5.12340e+04],
       [-4.52860e+04],
       [-3.91340e+04],
       [-6.29920e+04],
       [-3.90340e+04],
       [-5.24190e+04],
       [-4.63240e+04],
       [-6.37380e+04],
       [-3.94340e+04],
       [ 1.63220e+04],
       [-3.97400e+04],
       [-5.09980e+04],
       [-2.65180e+04],
       [-2.33400e+04],
       [-2.48460e+04],
       [-6.60000e+02],
       [-3.41120e+04],
       [-3.84110e+04],
       [-2.69980e+04],
       [ 8.55700e+03],
       [ 2.77430e+04],
       [-4.63240e+04],
       [-7.02930e+04],
       [-8.91460e+04],
       [ 4.13350e+04],
       [-2.37460e+04],
       [ 2.50890e+04],
       [-6.43130e+04],
       [-3.90340e+04],
       [ 6.39000e+02],
       [-2.85800e+04],
       [-2.56740e+04],
       [-5.86920e+04],
       [-6.71670e+04],
       [-2.49680e+04],
       [-3.36100e+04],
       [-1.51790e+04],
       [-3.28170e+04],
       [ 9.49640e+04],
       [-2.98810e+04],
       [-1.81760e+04],
       [-2.52370e+04],
       [-3.94100e+04],
       [-4.85100e+04],
       [ 5.17530e+04],
       [ 6.79900e+04],
       [-2.80070e+04],
       [-2.31020e+04],
       [-2.31440e+04],
       [ 9.93800e+03],
       [-3.78490e+04],
       [-3.90340e+04],
       [-3.27110e+04],
       [-3.18170e+04],
       [-3.01460e+04],
       [-4.30840e+04],
       [-4.32080e+04],
       [-2.49500e+04],
       [-3.27200e+04],
       [-4.22960e+04],
       [ 3.60450e+04],
       [-2.66670e+04],
       [-3.99890e+04],
       [-1.74010e+04],
       [-3.99850e+04],
       [-5.58230e+04],
       [-6.82140e+04],
       [ 1.49056e+05],
       [-5.32110e+04],
       [-2.53670e+04],
       [ 2.04040e+04],
       [-3.99850e+04],
       [-1.97370e+04],
       [-2.65660e+04],
       [-3.83860e+04],
       [ 1.28490e+04],
       [-4.65460e+04],
       [ 4.72160e+04],
       [-3.33470e+04],
       [ 9.49000e+03],
       [ 6.79600e+03],
       [ 1.41270e+04],
       [ 1.10010e+04],
       [-2.65770e+04],
       [ 1.57940e+04],
       [-7.67260e+04],
       [-6.15000e+03],
       [-3.43260e+04],
       [-3.27920e+04],
       [ 2.03980e+04],
       [ 7.13260e+04],
       [-1.87080e+04],
       [-3.93420e+04],
       [-2.74850e+04],
       [-2.66650e+04],
       [-7.31150e+04],
       [-3.98990e+04],
       [ 1.53896e+05],
       [ 9.69600e+03],
       [-4.01130e+04],
       [-3.94120e+04],
       [-5.47990e+04],
       [-3.12930e+04],
       [-3.90340e+04],
       [-3.89260e+04],
       [-1.55690e+04],
       [-2.19780e+04],
       [-2.59380e+04],
       [-3.99850e+04],
       [-4.23330e+04],
       [-8.70780e+04],
       [-3.70660e+04],
       [-3.26230e+04],
       [-3.93040e+04],
       [-1.71540e+04],
       [-1.61550e+04],
       [-4.10030e+04],
       [-1.12320e+04],
       [-3.35560e+04],
       [-4.22700e+04],
       [-1.20160e+04],
       [ 3.70110e+04],
       [-6.09060e+04],
       [-2.07360e+04],
       [-3.86770e+04],
       [ 4.25560e+04],
       [-5.96660e+04],
       [-2.38580e+04],
       [-2.65310e+04],
       [-3.90340e+04],
       [-4.76650e+04],
       [-1.20540e+04],
       [-6.63090e+04],
       [-3.93340e+04],
       [-3.43910e+04],
       [-3.42840e+04],
       [-1.71150e+04],
       [-7.58280e+04],
       [-3.99890e+04],
       [-2.62890e+04],
       [-1.31530e+04],
       [-3.91700e+04],
       [-9.12500e+03],
       [-6.09150e+04],
       [-3.11430e+04],
       [-4.18530e+04],
       [-3.91700e+04],
       [-1.49300e+04],
       [ 2.64200e+03],
       [ 7.32920e+04],
       [-3.26420e+04],
       [-3.99160e+04],
       [-3.25240e+04],
       [-3.94120e+04],
       [-4.68490e+04],
       [ 2.03960e+04],
       [-3.97560e+04],
       [-2.56300e+04],
       [ 2.86870e+04],
       [-3.08130e+04],
       [-2.89800e+04],
       [-1.89800e+04],
       [-1.69190e+04],
       [-2.51410e+04],
       [-1.78690e+04],
       [-6.64630e+04],
       [-7.77450e+04],
       [ 3.64060e+04],
       [-3.29190e+04],
       [-3.94270e+04],
       [-9.82050e+04],
       [-7.27340e+04],
       [-2.29710e+04],
       [-4.65140e+04],
       [ 1.12060e+04],
       [-3.16260e+04],
       [-4.22700e+04],
       [-2.48090e+04],
       [-2.82950e+04],
       [-3.19900e+04],
       [-2.35780e+04],
       [ 2.38550e+04],
       [ 2.21460e+04],
       [ 3.68600e+03],
       [ 1.63220e+04],
       [-7.26600e+03],
       [-2.19780e+04],
       [-5.60720e+04],
       [-3.94750e+04],
       [-2.84260e+04],
       [-3.91700e+04],
       [-7.19300e+03],
       [-2.46300e+04],
       [-3.92340e+04],
       [-2.14310e+04],
       [ 2.77590e+04],
       [-3.91700e+04],
       [-3.56650e+04],
       [-2.39200e+04],
       [ 9.35600e+03],
       [ 3.99740e+04],
       [-5.56180e+04],
       [-5.05200e+04],
       [-4.89010e+04],
       [-2.35700e+04],
       [ 1.52560e+04],
       [-2.70450e+04],
       [-3.92770e+04],
       [-5.93520e+04],
       [-6.05000e+02],
       [-2.75230e+04],
       [-2.27700e+03],
       [-9.95810e+04],
       [-3.64230e+04],
       [-4.63240e+04],
       [-2.05220e+04],
       [-3.04380e+04],
       [-1.85910e+04],
       [-2.51310e+04],
       [ 3.95651e+05],
       [-3.89620e+04],
       [ 2.56090e+04],
       [-2.23690e+04],
       [ 1.99280e+04],
       [-5.88900e+04],
       [-2.15500e+03],
       [ 1.36380e+04],
       [-1.99720e+04],
       [-2.05040e+04],
       [ 1.63385e+05],
       [ 2.13200e+03],
       [ 6.20000e+03],
       [ 3.68600e+03],
       [-3.21740e+04],
       [-6.99890e+04],
       [-6.88030e+04],
       [-6.09150e+04],
       [-3.93180e+04],
       [ 2.12730e+04],
       [-5.81420e+04],
       [ 1.72705e+05],
       [-3.11480e+04],
       [-1.47650e+04],
       [-3.16050e+04],
       [-3.30100e+04],
       [-3.74620e+04],
       [-5.77540e+04],
       [-4.20880e+04],
       [ 9.97380e+04],
       [-3.29860e+04],
       [ 6.39900e+03],
       [-2.31020e+04],
       [-2.88460e+04],
       [-3.62080e+04],
       [-6.92440e+04],
       [-2.21950e+04],
       [ 1.41501e+05],
       [-3.22670e+04],
       [-3.25780e+04],
       [-4.39660e+04],
       [ 2.03800e+04],
       [-1.96490e+04],
       [-4.11120e+04],
       [-6.61180e+04],
       [ 4.94500e+03],
       [-2.28650e+04],
       [-2.78600e+04],
       [-3.93150e+04],
       [-1.56360e+04],
       [-3.12760e+04],
       [ 1.41520e+05],
       [-9.70000e+01],
       [-4.63240e+04],
       [-2.39200e+04],
       [-2.39200e+04],
       [-2.95910e+04],
       [-4.39440e+04],
       [ 3.97229e+05],
       [-3.91700e+04],
       [-3.91700e+04],
       [-2.00600e+04],
       [ 1.35860e+04],
       [ 1.98663e+05],
       [-2.26130e+04],
       [-4.07070e+04],
       [-4.64910e+04],
       [-6.46500e+03],
       [-3.47510e+04],
       [ 1.74480e+04],
       [-4.09750e+04],
       [ 1.46330e+04],
       [ 2.36200e+03],
       [-4.24440e+04],
       [-2.82300e+04],
       [-1.71140e+04],
       [ 1.22330e+04],
       [-3.61330e+04],
       [-1.74280e+04],
       [-4.52860e+04],
       [ 2.51830e+04],
       [-3.33470e+04],
       [-5.70420e+04],
       [-2.43560e+04],
       [ 4.99510e+04],
       [-1.73960e+04],
       [-1.05360e+04],
       [-1.18210e+04],
       [-4.00850e+04],
       [-2.50050e+04],
       [-4.18850e+04],
       [-2.83780e+04],
       [-6.73390e+04],
       [-7.91540e+04],
       [-3.99890e+04],
       [-6.35430e+04],
       [-2.05440e+04],
       [-3.94120e+04],
       [ 4.04900e+03],
       [-3.94230e+04],
       [ 1.19624e+05],
       [-1.33070e+04],
       [ 2.41220e+04],
       [-1.84970e+04],
       [-2.55390e+04],
       [-3.21020e+04],
       [-3.19250e+04],
       [-2.06590e+04],
       [ 1.35870e+04],
       [ 1.72500e+04],
       [-1.90700e+03],
       [-3.94120e+04],
       [-1.51600e+03],
       [ 1.48400e+04],
       [-1.96730e+04],
       [-3.13560e+04],
       [-4.89260e+04],
       [-5.32360e+04],
       [-3.99300e+04],
       [-3.99850e+04],
       [-2.47980e+04],
       [-4.11120e+04],
       [-2.47000e+04],
       [ 8.89150e+04],
       [ 7.36600e+03],
       [-3.52940e+04],
       [-4.08400e+04],
       [-6.05810e+04],
       [-2.04130e+04],
       [-4.89260e+04],
       [-4.32400e+03],
       [-3.29260e+04],
       [-3.89030e+04],
       [-4.48790e+04],
       [ 1.88160e+04],
       [-3.98160e+04],
       [-4.65140e+04],
       [-2.80960e+04],
       [-1.55520e+04],
       [-6.07630e+04],
       [ 9.53400e+03],
       [ 1.59100e+03],
       [-3.38060e+04],
       [-5.90180e+04],
       [-3.03500e+04],
       [ 3.23930e+04],
       [-4.01180e+04],
       [ 3.68600e+03],
       [ 3.13750e+04],
       [-3.94120e+04],
       [-2.59860e+04],
       [-1.01160e+04],
       [ 1.57310e+04],
       [-3.99850e+04],
       [-2.82670e+04],
       [-2.00590e+04],
       [ 1.25630e+04],
       [-2.44280e+04],
       [-3.90340e+04],
       [ 5.61000e+02],
       [-2.05510e+04],
       [-2.35150e+04],
       [-1.51840e+04],
       [-1.92960e+04],
       [-4.77160e+04],
       [-1.81760e+04],
       [-5.82300e+04],
       [ 1.47310e+04],
       [-4.72120e+04],
       [-1.41130e+04],
       [ 3.18870e+04],
       [ 2.18330e+04],
       [-1.08045e+05],
       [-5.60000e+01],
       [ 1.02040e+04],
       [-4.52230e+04],
       [-1.90400e+04],
       [ 7.54640e+04],
       [-5.59230e+04],
       [-1.99370e+04],
       [-3.99850e+04],
       [-5.09930e+04],
       [-2.21710e+04],
       [-5.16730e+04],
       [ 1.48400e+04],
       [-2.54830e+04],
       [-5.35060e+04],
       [-2.95870e+04],
       [-3.54900e+03],
       [-3.77560e+04],

## using logistic regresion model(from scikit)

In [66]:
import sklearn
from sklearn.linear_model import LogisticRegression
from sklearn import metrics

In [67]:
model=LogisticRegression(C=1E6)
model=model.fit(x,y)

C:\Users\hemanth kumar\anaconda3\lib\site-packages\sklearn\utils\validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [69]:
prediction=model.predict(x_t)

In [71]:
result=pd.DataFrame(data=prediction,index=titanic_test.PassengerId)
result.head()

             0
PassengerId
892          0
893          0
894          0
895          0
896          1